<span class="collapsible">
{%- assign tmp = include.content | strip -%}
{%- if tmp != "" -%}
    <span class="collaptext">
    {%- if include.link -%}
        <a href="{{ include.link }}">{{ include.header }}</a>
    {%- else -%}
        {{- include.header -}}
    {%- endif -%}
    </span><br>
    <span class="collapcontent">{{ include.content }}</span>
{%- else -%}
    <span class="collaptext collapsible-empty">{{ include.header }}</span>
    <span class="collapcontent"></span>
{%- endif -%}
</span>
